{{#each model as |item|}}
  <div class="layout-column layout-align-space-around-center">
      <div class="menu shad layout-column layout-align-space-around-center">
            <img class="logo" src="/img/titre.png" alt="logo" title="logo">
            <h2 style="font-family: 'Roboto Slab', serif; font-size: x-large; color: grey;">Your daily source of poker EV</h2>
            <div class="WidthCenter shad darkgrey layout-align-center-center flex-grow">
              <p class="p">{{moment-format item.today 'D MMMM YYYY'}}</p>
            </div>
            <p class="p">Next in {{my-countdown startDate=''}}</p>
      </div>

      <div class="titre layout-column flex-auto layout-align-center-center">
            <h1>{{item.title}}</h1>
      </div>

      <article>
        {{#paper-card as |card|}}
          <div class="result layout-row layout-xs-column layout-align-space-around-center">
             <div class="layout-column flex layout-align-space-around-center">
                 <div class="cartesleft layout-row layout-align-space-around-start">
                   <img src={{item.flop1}} alt="card1" title="card1">
                   <img src={{item.flop2}} alt="card2" title="card2">
                   <img src={{item.flop3}} alt="card3" title="card3">
                 </div>
                 <div class="fondText">
                  {{#card.content}}
                    <h3>
                     Out of position, against a range of {{item.vilainRange_percent}} % we must:
                    </h3>
                    <h2>
                      check/call: {{item.checkCall}} %
                    </h2>
                    <h2>
                      check/fold: {{item.checkFold}} %
                    </h2>
                    <h2>
                      bet: {{item.bet}} %
                    </h2>
                  {{/card.content}}
                 </div>
             </div>

             <div class="layout-column flex layout-align-space-around-center">
                 <div class="layout-row cartesright layout-align-space-around-center">
                   {{card.image src="/img/bl.jpg" alt="carte1" title="carte1"}}
                   {{card.image src="/img/bl.jpg" alt="carte2" title="carte2"}}
                 </div>
                 <div>
                  {{card.image src="/img/Table1-png.png" alt="poker table" title="table"}}
                 </div>
                 <div class="layout-row cartesright layout-align-space-around-center">
                   <img src={{item.heroHand1}} alt="hero1" title="hero1">
                   <img src={{item.heroHand2}} alt="hero2" title="hero2">
                 </div>
             </div>
         </div>

         <div class="layout-row layout-align-end-center">
          <button>
            <a href={{item.gtoUrl}} target="_blank">
              <p>Download GTO+</p>
            </a>
          </button>
         </div>

        {{/paper-card}}
      </article>

  </div>
  <div class="WidthCenter darkgrey layout-row layout-align-space-around-end">
      <p class="p">string	Set the content of the button when used as a blockless component.
mini	boolean	Display as a mini-sized button. Implies fab, unless fab is explicity set falsy.</p>
  </div>
{{/each}}
