{{#each model as |item|}}
  <div class="layout-column layout-align-space-around-center">
      <div class="menu shad layout-column layout-align-space-around-center">
            <img class="logo" src="/img/titre2.png" alt="logo" title="logo">
            <h2 style="font-size: x-large; color: grey;">Your daily source of poker EV</h2>
            <div class="WidthCenter shad white layout-align-center-center flex-grow">
              <p class="p">{{moment-format item.today 'D MMMM YYYY'}}</p>
            </div>
            <p class="p p-Time">Next in {{my-countdown startDate=''}}</p>
      </div>

      <div class="titre layout-column flex-auto layout-align-center-center">
            <h1>{{item.title}}</h1>
      </div>

      <article>
        {{#paper-card as |card|}}
          <div class="result layout-row layout-xs-column layout-align-space-around-center">

             <div class="layout-column flex layout-align-space-around-center">
                 <div class="cartesleft layout-row layout-align-space-around-start">
                   <img src={{item.flop1}} alt="card1">
                   <img src={{item.flop2}} alt="card2">
                   <img src={{item.flop3}} alt="card3">
                 </div>
                 <div class="fondText">
                  {{#card.content}}
                    <p class="p-article">
                     Out of position, against a range of {{item.vilainRange_percent}}% we must:
                    </p>
                    {{#if item.checkCall}}
                      <p class="p-article bold">
                      check/call: {{item.checkCall}}%
                      </p>
                    {{/if}}
                    {{#if item.checkRaise}}
                      <p class="p-article bold">
                      check/raise: {{item.checkRaise}}%
                      </p>
                    {{/if}}
                    {{#if item.checkFold}}
                      <p class="p-article bold">
                      check/fold: {{item.checkFold}}%
                      </p>
                    {{/if}}
                    {{#if item.bet}}
                      <p class="p-article bold">
                      bet: {{item.bet}}%
                      </p>
                    {{/if}}

                  {{/card.content}}
                 </div>
             </div>
{{! Here, I place the button modal  }}
             <div class="layout-column flex layout-align-space-around-center">
                 <div class="layout-row cartesright layout-align-space-around-center">
                    <div class="overlay-image">
                      <button  {{action (action "toggleModal")}}>
                        {{card.image  src="/img/Carte-dos.png" alt="carte1" title="Show vilain range"}}
                        {{card.image  src="/img/Carte-dos.png" alt="carte1" title="Show vilain range"}}
                        <div class="text-card" >Show<br>range</div>
                      </button>
                    </div>

                    {{#if isShowingModal}}
                      {{#modal-dialog onClose=(action "toggleModal") targetAttachment="center"}}
                        {{item.vilainRange}}
                      {{/modal-dialog}}
                    {{/if}}
                 </div>

                 <div class="table overlay-image">
                   {{card.image class="image" src="/img/Table-v2-1.png" alt="poker table" title="table"}}
                   <div class="text layout-column layout-align-space-between-center">
                      <p class="bold" style="color: #7d2a01;">{{item.vilainStack}} $</p>
                      <p class="bold" style="color: #023a0c;">{{item.vilainBetSize}} $</p>
                      <p class="bold" style="color: #01363e;">{{item.pot}} $</p>
                      <p class="bold" style="color: #023a0c;"></p>
                      <p class="bold" style="color: #7d2a01;">{{item.heroStack}} $</p>
                   </div>
                 </div>

                 <div class="layout-row cartesright layout-align-space-around-center">
                   <div class="overlay-image" style="margin-top: 4px;">
                      <button  {{action (action "toggleModalu")}}>
                        <img src={{item.heroHand1}} alt="hero1">
                        <img src={{item.heroHand2}} alt="hero2">
                        <div class="text-card" >Show<br>range</div>
                      </button>
                   </div>
                    {{#if isShowingModalu}}
                      {{#modal-dialog onClose=(action "toggleModalu") targetAttachment="center"}}
                        {{item.heroRange}}
                      {{/modal-dialog}}
                    {{/if}}
                 </div>

             </div>
         </div>
  {{! Download button }}
         <div class="result layout-row layout-align-end-center">
          <button type="button">
            <a href={{item.gtoUrl}} target="_blank">
              <p>Download GTO+ file</p>
            </a>
          </button>
         </div>

        {{/paper-card}}
      </article>

  </div>
  <div style="margin-top: 5%;" class="WidthCenter darkgrey layout-row layout-align-space-around-end">
      <p style="padding: 10px;" class="p">Simulations are made with GTO+. You can download the GTO+ file to get all turns and rivers already solve in this configuration. GTO+ is required to open the file. </p>
  </div>
    <div class="menu layout-row layout-align-end-center">
      <p style="padding: 5px;" class="p flex-15"><a href="mailto:admin@dailygto.com">admin@dailygto.com</a></p>
      <p style="padding: 5px;" class="p flex-15"><a href="mailto:joyartpro@gmail.com">joyartpro@gmail.com</a></p>
      <p style="color: white; text-align: end; padding-right: 15px;" class="flex ">2019-2020   dailygto.com</p>
  </div>
{{/each}}
