  <div class="layout-column layout-align-space-around-center">
      <div class="menu shad layout-column layout-align-space-around-center">
            <img class="logo" src="/img/titre.png" alt="logo" title="logo">
            <h2 class="p">"Your daily source of ev"</h2>
            <div class="WidthCenter shad grey layout-align-center-center flex-grow">
              <p class="p">(current date)</p>
            </div>
      </div>
  
      <div class="titre layout-column flex-auto layout-align-center-center">
            <h1>Titre</h1>
            <p class="p">Next in 03 hours 40 minutes 59 seconds</p>
      </div>
      <article>
        {{#paper-card as |card|}}
          <div class="result layout-row layout-xs-column layout-align-space-around-center">
             <div class="layout-column flex layout-align-space-around-center">
                 <div class="cartesleft layout-row layout-align-space-around-start">
                   {{card.image src="/img/cartes/2c.jpg" alt="carte1" title="carte1"}}
                   {{card.image src="/img/cartes/3h.jpg" alt="carte2" title="carte2"}}
                   {{card.image src="/img/cartes/Ac.jpg" alt="carte3" title="carte3"}}
                 </div>
                 {{#card.content}}
                   <h4 class="p">
                     The titles of Washed Out's breakthrough song and the first single from Paracosm share the
                     two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
                   </h4>
                 {{/card.content}}
             </div>
             
             <div class="layout-column flex layout-align-space-around-center">
                 <div class="layout-row cartesright layout-align-space-around-center">
                   {{card.image src="/img/bl.jpg" alt="carte1" title="carte1"}}
                   {{card.image src="/img/bl.jpg" alt="carte2" title="carte2"}}
                 </div>
                 <div class="layout-row">
                  {{card.image src="/img/table1-png.png" alt="table" title="table"}}
                 </div>
                 <div class="layout-row cartesright layout-align-space-around-center">
                   {{card.image src="/img/cartes/Ac.jpg" alt="carte1" title="carte1"}}
                   {{card.image src="/img/cartes/5h.jpg" alt="carte2" title="carte2"}}
                 </div>
             </div>
         </div>
         
            <a class="WidthCenter grey layout-row layout-align-end-center flex-grow" href="#" >
              <p>Download GTO+ </p>
              <img style="width: 3%; margin: 5px;" src="/img/dl-icon.png" alt="download the result">
            </a>
          
        {{/paper-card}}
      </article>
      <div class="WidthCenter grey layout-row layout-align-space-around-end">
        <p class="p">FOOTER</p>
      </div>
  </div>

